html,
body {
    width: 100%;
    height: 100%;
}

div.jumbotron {
    margin-bottom: 0px;
}

div.categoria {
    margin-top: 10px;
}
button.item-categoria {
    margin: 2px 0;
}

div.card {
    margin: 10px 0;
}

/*@MEDIA*/
@media (min-width: 768px) {
    img.card-img-top {
        width: 350px;
        height: 500px;
    }
}

footer {
    margin: 10px 0;
}