html,
body {
    width: 100%;
    height: 100%;
}

div.card {
    margin: 10px 0;
}

/*@MEDIA*/
@media (min-width: 768px) {
    img.card-img-top {
        width: 350px;
        height: 500px;
    }
}

footer {
    margin: 10px 0;
}